/* You can add global styles to this file, and also import other style files */
.mpharmbg {
background-color: #ff00000d;
}
.pharmdbg {
background-color: #007bff08;
}
.bpharmbg {
background-color: #dedede3d;
}
