
<div class="page">
  <header class="fixed-top">
    <!-- ... your navbar ... -->
    <nav class="navbar fixed-top navbar-light headerbg ">
      <div class="container-fluid headerbg" style="padding-left: 0px;padding-right: 0px;">
        <table style="width: 100%;">
          <tr>
            <td class="text-left">
              <a class="navbar-brand text-white" href="#">Dr. Rina Rosilla</a>
            </td>
            <td class="text-right">
              <a class="navbar-brand  text-white" style="margin-right: 0px;" (click)="fnMoveToHomePage()">
                << Back</a>
            </td>
          </tr>
        </table>
  
      </div>
  
    </nav>
  </header>

 <div class="contentwosubheader">
 

<div class="container">
  <div class="row mt-2">
    <div class="col-4 p-3 text-center ">
        <i class="fa-solid fa-person-chalkboard fa-3x bgIconColor"></i>
        <p class="card-text iconFontColor mt-2">PHARM D 3Y</p>
    </div>
    <div class="col-4 p-3 text-center ">
        <i class="fa-solid fa-person-chalkboard fa-3x bgIconColor"></i>
        <p class="card-text iconFontColor mt-2">MPHARM</p>
    </div>
    <div class="col-4 p-3 text-center ">
        <i class="fa-solid fa-person-chalkboard fa-3x bgIconColor"></i>
        <p class="card-text iconFontColor mt-2">PHARM D 6Y</p>
    </div>
    <div class="col-4 p-3 text-center ">
        <i class="fa-solid fa-person-chalkboard fa-3x bgIconColor"></i>
        <p class="card-text iconFontColor mt-2">BP LAT ENTRY</p>
    </div>
    <div class="col-4 p-3 text-center ">
        <i class="fa-solid fa-person-chalkboard fa-3x bgIconColor"></i>
        <p class="card-text iconFontColor mt-2">BP LAT ENTRY</p>
    </div>
  </div>
</div>


 
 

  <footer class="fixed-bottom"> 
    <!-- ... footer ...  -->
    <nav class="navbar fixed-bottom navbar-light" style="display: block;background-color: #052659;" >
  <div class="text-center text-white">
    <span style="font-weight: 600;font-size: 18px;" (click)="fnLogout()" >
        <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
            </span>

  </div>
</nav>
  </footer>
</div>



<!--OLD CODE-->
