.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.subheader {
  margin-top: 60px; /* height of your top navbar */
  z-index: 1030;
  position: fixed;
  width: 100%;
  background-color: #ecf2fa;
  border-radius: 6px;
  padding: 10px;
}

.content {
  flex: 1;
  margin-top: 154px; /* navbar + subheader height */
  margin-bottom: 60px; /* footer height */
  overflow-y: auto;  /* enable scrolling */
}

.table-container {
  min-width: 100%;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table thead th {
  position: sticky;
  top: 0;              /* sticks to top of table container */
  background: #dee2e6; /* required */
  z-index: 2;
  border-bottom: 1px solid #ccc;
}

.data-table tbody tr td,
.data-table tbody tr th {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}


/*-------------------------------*/
   

.save-popup  {
  position: absolute;
  top: 0px;
  right: 8px;

  
  padding: 8px 0px;
  
  font-size: 14px;

  
  z-index: 1000;
}
.table-wrapper {
  min-height: calc(100vh - 120px);
}
.save-popup-OLD {
  position: absolute;
  top: 0px;
  right: 0px;

  background-color: #4caf50;
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
  font-size: 14px;

  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 1000;
}